body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    padding: 20px;
}

.container {
    max-width: 960px;
    margin: auto;
}

form {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#results {
    margin-top: 20px;
}

canvas {
    margin-top: 40px;
}

#reset-msg {
    min-height: 1.5em;
}
